build
benchmarks/*
results/*
node_modules
ethereum/datadir/keystore/*
ethereum/datadir/nodekeys/*
*.log
vagrant/.vagrant
ip_list.json
ethereum/genesis.json
truffle-config.js
results/bench/*
results/load/*
graphs/*
.DS_Store