build
results/*
node_modules
ethereum/datadir/keystore/*
ethereum/datadir/nodekeys/*
ethereum/static-nodes.json
*.log
vagrant/.vagrant
ip_list.json
ethereum/genesis.json
truffle-config.js
results/bench/*
results/load/*
reset_ssh_keys.sh
graphs/*
.DS_Store